<!-- <h1>List of all possible users to message</h1>
<% #@users.each_with_index do |user, index| %>
    <tr>
      <td><%#= link_to user.email, user_path(user) %></td>
      <td>
        <%#= link_to "Send Message", "#", class: "btn btn-success btn-xs start-chat",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
      <br>
    </tr>

<%# end %> -->
<%#=  link_to "Join Multi Chat", '#', class: "btn btn-success btn-xs start-chat", "data-sid" => current_user.id, "data-rip" => user.id%>



<!-- From user get event-->
<!-- Check if Main chat made and join if exists-->
<!-- If not, make main chatroom -->
<!-- GET CATEGORY AND EVENT ID FROM USER -->



<!-- Bonus make additional chatrooms -->
<h3>Chat Rooms</h3>
<%=  link_to "Join Multi Chat", '#', class: "btn btn-success btn-xs start-chat", "data-category" => "angularjs", "data-event_id" => 1%>

<!-- Dynamically Insert Event Name and Event ID to create/search for existing chat -->
<%#=  link_to "Join Whatever Chat", '#', class: "btn btn-success btn-xs start-chat", "data-category" => event.name, "data-event_id" => event.id%>

<script>
	// e.preventDefault();
	console.log("starting chat box");
	
	// grabs data out of the item that was clicked which is setup through html tags
	var category = "<%= @event_category %>";  
	var event_id = <%=@event_id%>;
	
	$.post("/chats", { category: category, event_id: event_id }, function (data) {
	    // data consists of chat_id from chat controller
	    console.log("posted to create/found chat");
	    chatBox.chatWith(data.chat_id);
	}); 

</script>
 

