<h1>List of all possible users to message</h1>
<% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
      <br>
    </tr>
<% end %>

<h3>Chat Room</h3>