<!-- if the user is less than X miles away from the event, do not show the chat room -->
<% if @user.distance([@user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lat'], @user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lon']], [@user.lat, @user.lon]) < 1000 %>

	<script>
		function closeSidepage() { 
			$("#navigation li a").removeClass("open");  
		 	$('#site').animate({  
		  		left: '0px'  
		 	}, "slow");   
		}
		// function openSidepage() {  
		// 	$('#site').animate({  
		//   		left: '250px'  
		//  	}, "fast");   
		// }   
		// on load, make first chat room based on event params
		// grabs data out of the item that was clicked which is setup through html tags
		var category = "<%= @event_category %>";  
		var event_id = <%=@event_id%>;
		$.post("/chats", { category: category, event_id: event_id }, function (data) {

		    // data consists of chat_id from chat controller
		    chatBox.chatWith(data.chat_id, data.chat_name, data.user_count, data.event_name);
		}); 

		// delegate to keep track of all items dynamically generated for starting other chats
		$(document).delegate(".start-chat", "click", function (e) {
			e.preventDefault();
	        var category = $(this).data('category');  
	        var event_id = $(this).data('event_id');

	        // menu is finnicky with its labeling of data fields - set if unset
	        if (event_id == null){
	        	event_id = $(this).data('event-id');
	        }
	        $.post("/chats", { category: category, event_id: event_id}, function (data) {
	            chatBox.chatWith(data.chat_id, data.chat_name, data.user_count, data.event_name);
	        }); 

	        // refresh if tag was clicked
	        $.get("/event_update", function (data) {
	            $('#navigation').html(data);
	        }, "html");
	    });
	    // close chat if user clicks on text box
		$(document).delegate(".chatboxtextarea","click", function(e){
			closeSidepage();
		});
		// close menu when user selects new chat
		$(document).delegate(".start-chat.hide-menu","click", function(e){
			closeSidepage();
		});
		// $(".chatboxtextarea").on( "swipeleft", function(e){
		// 	alert();
	 //   		closeSidepage();  
		// });
		// $(".chatboxtextarea").on( "swiperight", function(e){
		// 	alert();
		// 	$("#navigation li a").addClass("open");
		// 	openSidepage();
		// });

		

		// replace data with new data in menu
		$('.main-menu').click(function (e) {
			e.preventDefault();
			$("#menu").show();

			$.get("/event_update", function (data) {
			    $('#navigation').html(data);
			}, "html");
		}); 
		
		// set chatboxcontent to size of current open window subtract to size appropriately
	    heightpixels = $(window).height()-118;
	    var style = $('<style>.chatboxcontent { height: '+heightpixels+'px; }</style>');
		$('html > head').append(style);

		widthpixels = $(window).width()-90;
		var widthstyle = $('<style>.textcontentofmessage { width: '+widthpixels+'px; }</style>');
		$('html > head').append(widthstyle);

		// track and make message input follow bottom
		$(window).resize(function() {
		    heightpixels = $(window).height()-118;
		    var style = $('<style>.chatboxcontent { height: '+heightpixels+'px; }</style>');
			$('html > head').append(style);	

			widthpixels = $(window).width()-90;
			var widthstyle = $('<style>.textcontentofmessage { width: '+widthpixels+'px; }</style>');
			$('html > head').append(widthstyle);
		});
		$('#menu').hide();
	</script>

<% else %>

	<!-- if the user isn't at the event location, display this message -->
	<div class='container center' id='welcome-container'>
		<p class='apologies'>Oops, you're still <%= @user.distance([@user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lat'], @user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lon']], [@user.lat, @user.lon]) %> miles away from the event! Once you arrive, check back again.</p>
		<%= link_to 'Refresh', event_path, class: 'button expand' %>
	</div> 
<% end %>