<% if @user.distance([@user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lat'], @user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lon']], [@user.lat, @user.lon]) < 10000 %>

	<script>
		// on load, make first chat room based on event params
		console.log("starting chat");
		// grabs data out of the item that was clicked which is setup through html tags
		var category = "<%= @event_category %>";  
		var event_id = <%=@event_id%>;
		
		$.post("/chats", { category: category, event_id: event_id }, function (data) {
		    // data consists of chat_id from chat controller
		    chatBox.chatWith(data.chat_id, data.chat_name, data.user_count, data.event_name);
		}); 

		// delegate to keep track of all items dynamically generated for starting other chats
		$(document).delegate(".start-chat", "click", function (e) {
			e.preventDefault();
			console.log("starting chat");
	        // e.preventDefault();
	        var category = $(this).data('category');  
	        var event_id = $(this).data('event_id');
	        // menu is finnicky with its labeling of data fields - set if unset
	        if (event_id == null){
	        	event_id = $(this).data('event-id');
	        }

	        $.post("/chats", { category: category, event_id: event_id}, function (data) {
	            // data consists of chat_id from chat controller
	            chatBox.chatWith(data.chat_id, data.chat_name, data.user_count, data.event_name);
	        }); 
	    });

		// set chatboxcontent to size of current open window subtract to size appropriately
	    heightpixels = $(window).height()-118;
	    var style = $('<style>.chatboxcontent { height: '+heightpixels+'px; }</style>');
		$('html > head').append(style);

		widthpixels = $(window).width()-90;
		var widthstyle = $('<style>.textcontentofmessage { width: '+widthpixels+'px; }</style>');
		$('html > head').append(widthstyle);

		// track and make message input follow bottom
		$(window).resize(function() {
		    heightpixels = $(window).height()-118;
		    var style = $('<style>.chatboxcontent { height: '+heightpixels+'px; }</style>');
			$('html > head').append(style);	

			widthpixels = $(window).width()-90;
			var widthstyle = $('<style>.textcontentofmessage { width: '+widthpixels+'px; }</style>');
			$('html > head').append(widthstyle);

		});
	</script>


<% else %>
<div class='container center' id='welcome-container'>
<p class='apologies'>Oops, you're still <%= @user.distance([@user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lat'], @user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['venue']['lon']], [@user.lat, @user.lon]) %> miles away from the event! Once you arrive, check back again.</p>
<%= link_to 'Refresh', event_path, class: 'button expand' %>
</div> 

<% end %>
