<style type="text/css">
	body {background-color: #E5E5E5;
	}
</style>

<div class="container top-margin">
	<p class='apologies'>Which of these events today are you attending?</p>
	<%= form_for @user do |f| %>
		<div class=''>
		<%= select_tag :event_id, options_for_select(@events["results"].collect {|u| [ u["name"], u["id"]] }), id: 'meetup-dropdown', class: 'expand' %>
		
		<%= f.submit "Next", class: "button expand" %>
	<% end %>
	</div>
</div>
