<div class="container">
	<label for='meetup-dropdown'>You have multiple events today, which are you attending?</label>
	<%= form_for @user do |f| %>
	<%= f.hidden_field :private_messages?, id: 'private-messages' %>
	<%#= f.text_field :private_messages %>
	<%= select_tag :event_id, options_for_select(@events["results"].collect {|u| [ u["name"], u["id"]] }), class: 'expand', id: 'meetup-dropdown' %>
	<%= f.submit "Next", class: "button" %>
	<% end %>
</div>

