<style>
	#scroll-down{
	    position: relative;
	    background-color: rgba(255,255,255,.4);
	    width: 40px;
	    height: 40px;
	    border-radius: 20px;
	    padding: 9px 5px 5px 5px;
	    margin:0 auto;
	    top:100%;

	}
	#scroll-down:hover{
	    background-color: rgba(255,255,255,.8);   
	}
	#about-text{
		font-size: 20px;
		max-width: 500px;
		margin:0 auto;
		position: relative;
		top: 45%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	#about-title{text-align:center;}
	@media (max-width: 550px) {
	  #about-text{
	  	top: 40%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	  	font-size: 14px;
	  	max-width: 320px;
	    padding:20px;
	  }
	}
	#welcome-container{
		margin-top: 5%;
	}
	#scroll-down{
		position: relative;
		top: 200px;
	}
	.welcome{
		margin-top: 4vmax;
		margin-bottom: 2vmax;
	}
</style>

<div class='background-one'>
	<div class="container">
		<div id="welcome-container">
			<%= image_tag 'metameetup-logo-white.png', id: 'logo' %>
		<h1 class='welcome'>Meet the right people at your next meetup.</h1>
			<div id="devise">
				<%= render "devise/shared/links" %>
			</div>
			
		</div>
		<div id='scroll-down'>
			<%= image_tag 'down-arrow.png' %>
		</div>
	</div>
</div>

<div class="background-two">
	<div id='about-text'>
		<h1 id="about-title">About</h1>
		Tired of having the same old conversations with the wrong people? MetaMeetup helps people connect with the right people at Meetup.com events. Sign into MetaMeetup when you arrive and spend your time wisely. <br><br>Don't yet have a meetup.com account? Sign up for one <a target="_blank" href='http://meetup.com'>here</a><br><br>MetaMeetup was created by <a target="_blank" href="http://wildebee.st/">Wildebeest</a> in the heart of Silicon Beach.
	</div>
</div>

<script>
	// function that allows user to click on arrow to display About text
	$('#scroll-down').click(function() {

		$('html, body').animate({
	        scrollTop: $("#about-text").offset().top
	    }, 1000);
	});
</script>