<style type="text/css">
	body {background-color: #E5E5E5;
	}
</style>

<div class="container center welcome">
	<div id="logo-container">
		<%= image_tag 'metameetup-logo.png', id: 'logo' %>
	
		<div id="devise">
			<%= render "devise/shared/links" %>
		</div>
	</div>
	<div id='scroll-down'>
		<%= image_tag 'down-arrow.png' %>
	</div>
</div>
