/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope
 *
 *= require_tree .
 *= require_self
 */

body {
    /*background-color: #323232;*/
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.homepage {
    background-color: #E5E5E5;
    background: image-url('suits.jpg') no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #2ea1d0
}

a:hover {
	color: #2c7a99
}

#logo {
    position: relative;
    left: 5px;
    width: 180px;
}

/*#logo-container {
    margin-top: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}*/

#logo-container {
    margin-top: 20px;
    width: 180px;
}

.welcome {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-size: 5vmax;
    font-weight: lighter;
    margin-top: 5vmax;
    margin-bottom: 5vmax;
}

.welcome-button {
    background-color: rgba(64, 123, 251, .8);
    padding: 34px 10px 20px 10px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    /*right-margin: auto;*/
    outline: none;
    text-align: center;
    height: 100px;
    /*border: 2px solid #FFF;*/
    /*border-radius: 3px;*/
}

.welcome-button:hover {
    background-color: rgba(64, 123, 251, 1);
    color: #FFF;
    text-decoration: none;
}

#welcome-container {
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 600px;
}


#scroll-down {
    /*bottom: 0;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: rgba(255,255,255,.2);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 9px 5px 5px 5px;
}

#scroll-down:hover {
    background-color: rgba(255,255,255,.8);    
}

#about-text {
    position: relative;
    text-align: center;
    margin: 600px 0px 250px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
}

#user_email {
    height: 50px;
    font-size: 20px;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

label {
	color: #AAA;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
}

#menu {  
    position: absolute;  
    width: 250px;   
    padding: 0;
    min-height: 100%;  
    padding: 0px;  
    background-color: rgba(0,0,0,.8); 
}

#menu-user-info {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    background-color: #222;
    margin-bottom: 5px;
    /*border-bottom: 1px solid #BBB;*/

}

.menu-main-photo {
    width: 50px;
    height: 50px;
}

.menu-photo {
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

#logged-in-user-name {
    position: relative;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    top: 2px;
    /*padding-top: 20px;*/
    color: #FFF;
}

#menu-label {
    position: relative;
    left: 5px;
}

.menu-item {
    position: relative;
    color: #FFF;
    /*padding: 5px;*/
    /*bottom: 10px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #444;
    width: 250px;
    /*height: 30px;*/
}

.left-padding {
    padding-left: 10px;
}

#mail {
    color: #FFF;
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 12px;
    font-size: 24px;
}

#mail:hover {
    color: #CCC;
}

.is-active {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}


#site {
    background-color: #FFF;
    width: 100%;  
    height: 100%;
    height: auto;  
    display: block;  
    /*min-height: 800px;  */
    overflow: hidden;  
    position: relative;  
    z-index: 2;  
    top:0;
    left:0;
    bottom:0;
    right:0;
}

header {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    background-color: #000;
    text-align: center;
}

.sign-out {
    text-align: right;
    margin: 5px 10px 0px 5px;
    color: #666;
}

.page-title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transform: translateY(-50%);
    top: 48%;

}

.color-filter {
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(163, 108, 21,.3);
    /*position: fixed;*/
}

#navigation { 
    list-style: none; 
    padding-left: 0px;
    margin-top: 10px;
} 

#navigation > li {
    border-bottom: 1px solid #444;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}

.menu-section {
    margin-top: 20px;
}
/*.close {
    float: right;
    color: red;
}*/

.main-menu {
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    width: 20px;
    color: #FFF;
    float:left;
    position:relative;
    top: 6px;
}

.back {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    border: 1px solid #222;
    border-radius: 3px;
    background-color: #111;
    padding: 5px 20px 5px 20px;
    color: #EEE;
}

.back:hover {
    text-decoration: none;
    color: #EEE;
    background-color: #222;
}

.current-room {
    text-align: center;
    color: #FFF;
    padding-top: 10px;
}

.container {
    /*width: 100%;*/
	margin: 0;
    padding: 20px;
    /*left:50%;*/
}

.button {
	position: relative;
	background-color: #407bfb;
	padding: 20px 40px 20px 40px;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #FFF;
	margin: 10px 0px 10px 0px;
    /*top: 10px;*/
	outline: none;
    white-space: nowrap;
    text-align: center;
}

.button-cancel {
    position: relative;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #D02E34;
    top: 20px;
    outline: none;
    white-space: nowrap;
}
.button-cancel:hover {
    color: #902226;
}

.button:hover {
	background-color: #5984fd;
	color: #FFF;
    text-decoration: none;
}

.expand {
	width: 100%;
}

.center {
	text-align: center;
}

.top-margin {
	margin-top: 50px;
}

.notice {
	background-color: #DFF1D7;
	padding: 15px;
	/*border: 1px solid #3d793b;*/
	/*border-radius: 5px;*/
	font-size: 11px;
	color: #3d793b;
	margin-top: 0px;
    margin-bottom: 0px;
}

#alert {
	background-color: #FCF9E2;
	padding: 15px;
	/*border: 1px solid #8a6e37;*/
	/*border-radius: 5px;*/
	font-size: 11px;
	color: #8a6e37;
	margin-bottom: 0px;
}

#tagline {
/*	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #AAA;
	position: relative;
	margin-top: -15px;
*/}


#meetup-dropdown {
    height: 50px;
    font-size: 20px;
    border: 1px solid #CCC;
}

.detecting-location {
    background: url(ajax-loader.gif) no-repeat center bottom;
    /*background: image-url('preloader.gif') no-repeat;*/
    height: 100px;
    text-align: center;
    color: #CCC;
    font-family: 'Roboto', sans-serif;
    /*font-weight: lighter;*/
    font-size: 16px;
    /*margin-top: 20px;*/
}

#devise-links {
	/*margin-top: 20px;*/
}

#no-meetup {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FFF;
	position: relative;
	margin-top: 40px;
}

.profile {
    width: 90%;
}

#profile-details {
    width: 100%;
    height: 100px;
    /*margin-bottom: 30px;*/
}

.photo {
    width: 100px;
    height: 100px;
    /*margin-right: 15px;*/
    /*border-radius: 40px;*/
    /*border: 2px solid #FFF;*/
}

#photo-container {
    /*height: 100px;*/
    float: left;
}
#profile-info-container {
    /*padding-left: 10px;*/
    height: 100px;
    /*padding-left: 30px;*/
    width: 100%;
    /*min-width: 300px;*/
    background-color: #333;
}

#profile-info-container > #name {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    padding-top: 25px;
    /*padding-right: 20px;*/
    left: 10px;
    margin: 0px;
    width: 90%;
}

#profile-info-container > #location {
    color: #AAA;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    left: 10px;
    margin: 0;
        width: 90%;

}

.container-edit {
    width: 100%;
    margin: 0;
    padding: 20px;
    color: #fff;  
}

#true_patch {
    margin-left: 0;
}

#bio {
    /*color: #FFF;*/
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-right: 20px;
}

#bio-field {
    margin-bottom: 20px;
    height: 100px;
    font-size: 20px;
    border: 1px solid #666;
}


#interests-field {
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
}

.interest-cloud {
    list-style-type: none;
    margin-bottom: 40px;
    padding: 0;
}

.interest {
    line-height: 70px;
    margin-right: 10px;
    display: inline;
}

#linkedin-button {
    position: absolute;
    margin-top: 10px;
    padding-top: 15px;
    background-color: #EEE;
    color: #666;
    border: none;
    height: 50px;
    text-align: center;
    width: 80%;
}

.switch {
    height: 80px;
}

#private-messages {
    font-size: 16px;
    position: relative;
    bottom: 40px;
    left: 90px;
    width: 200px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  width: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 40px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #DDD;
  border-radius: 40px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  border-radius: 100%;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
  transition: margin 0.3s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #5CB85C;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 40px;
}

#phone {
    margin-top: -30px;
}

#phone-input {
    position: relative;
    /*margin-top: -30px;*/
    height: 40px;
    font-size: 20px;
}

#start-chat {
    position: relative;
    top: 40px;
}

#event-name {
    color: #333;
    font-size: 20px;
    /*padding-bottom: 20px;*/
    margin: 0px 0px 20px 0px;
}

.apologies {
    color: #666;
    font-size: 6vw;
    line-height: 7vw;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
}

.popular-interest {
    background-color: #CCC;
}

.green {
    background-color: #5CB85C;
}

.green:hover {
    background-color: #78c978;
}

.pink {
    background-color: #ff008c;
    color: #FFF;
}

select {
    height: 50px;
    -webkit-appearance: menulist-button;
    font-size: 20px;
}

/*Chat styling*/
.chatbox {
    /*attaches the chat box to the site id*/
    position: relative;
    /*position: expression("absolute");*/
    /*width: 280px;*/
    display: none;
    /*border:10px solid white;*/
    z-index: 100;
    top: 0;
    right:0;
    width: 100%;
}
 
.chatboxhead {
    /*background: rgba(20%,20%,20%,1);*/
    color: white;
    padding: 0.5rem;
    overflow: hidden;
 
    /*border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);*/
}
 
.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}
 
.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}
 
.chatboxcontent {
    font-family: arial, sans-serif;
    overflow-y: auto;
    background: white;
    list-style: none;
}
 


.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    /*display: flex;*/
    border-bottom:1px solid rgba(93%,93%,93%,1);
}
 


.avatar-wrapper{
    height:100%;
    width: 70px;
    background-color: red;
}




.chatboxcontent .avatar {
    position: relative;
    display:inline-block;
}
 
.chatboxcontent .avatar img {
    width:63px;
    height:63px;
    display: block;
    margin-top: 3px;
}
 

 
.chatboxmessagecontent {
    display:block;
    margin-bottom: 3px;
}
.chatboxmessagecontent p{
    margin: 0;
} 
.textcontentofmessage
{   
    padding-right: 5%;
    float:right;
    position: relative;
    top: 17px;
}

.time-div{
    display:block;
}

.time-div time {
    padding-right:30px;
    vertical-align: 24px;
    font-size: 10px;
    color:rgba(0,0,0,.4);
}
.chatboxinput {
    background-color: #EEE;
    height: 68px;
    width: 100%;
}

#chatbox-input-bg {
    /*float: left;*/
    margin: 0 auto;
    max-width: 90%;
}

.message-input-area{
    display: block;
    margin: 0 auto;
    max-width: 1600px;
}

.click-to-send-message{
    padding: 10px 20px;
    background-color: #407bfb;
    color: white;
    position: relative;
    transform: translateY(34%);
    cursor: pointer;
    display: inline-block;
    width: 24.0%;
    text-align: center;
    float: right;
}
.click-to-send-message:hover{
    opacity: .8;
}

 
.chatboxtextarea {
    font-size: 16px;
    /* width: 245px; */
    /*height: 32px;*/
    padding: 7px 0pt 0px 12px;
    border: 1px solid #eeeeee;
    /* margin: 1px; */
    height: 40px;
    width: 74.5%;
    overflow-y: auto;
    resize: none !important;
    display: inline-block;


    position: relative;
    /*top: 50%;*/
    transform: translateY(34%);

}
 
.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}
 
.chatboxmessage {
    margin-left: 1em;
}
 
.chatboxinfo {
    margin-left: -1em;
    color: #666666;
 
}
 
.chatboxoptions {
    float: right;
}
 
.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
 
.chatboxtitle {
    text-align: center;
}

.hashtag {
    background-color: #5CB85C;
    padding: 3px 5px 3px 5px;
    color: #FFF;
    font-size: 14px;
    border-radius: 2px;
}

.hashtag:hover {
    background-color: #78c978;
    text-decoration: none;
    color: #FFF;
}
/*end of chat styling*/
