/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    background-color: #323232;
    margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #2ea1d0
}

a:hover {
	color: #2c7a99
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

label {
	color: #AAA;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
}

input[type="email"] {
	width: 100%;
	height: 40px;
	font-size: 22px;
	margin-bottom: 10px;
}

input[type="password"] {
	width: 100%;
	height: 40px;
	font-size: 22px;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	height: 40px;
	font-size: 22px;
	margin-bottom: 10px;
}

#menu {  
    position: absolute;  
    width: 180px;   
    min-height: 100%;  
    padding: 0px 8px;  
    padding-top: 220px;  
}

#navigation { 
    list-style: none; 
}  

.menu-photo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #FFF;
}


#site {
    width: 100%;  
    height: auto;  
    display: block;  
    min-height: 800px;  
    overflow: hidden;  
    position: relative;  
    z-index: 2;  
    background-color: #323232;
}

header {
    /*height: 50px;*/
    /*background-color: #FFF;*/
}

#menu {
    background-color: #000;
    width: 300px;
    padding: 0;
}

#navigation {
    padding-left: 0px;
}

#navigation > li {
    border-bottom: 1px solid #BBB;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    color: #FFF;
}

.welcome {
    color: #FFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.container {
    width: 100%;
	margin: 0;
    padding: 20px;
    /*left:50%;*/
}

.button {
	position: relative;
	background-color: #2ea1d0;
	padding: 20px 40px 20px 40px;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FFF;
	margin: 10px 0px 10px 0px;
    top: 20px;
	outline: none;
    white-space: nowrap;
}

.button-cancel {
    position: relative;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #D02E34;
    top: 20px;
    outline: none;
    white-space: nowrap;
}
.button-cancel:hover {
    color: #902226;
}

.button:hover {
	background-color: #2c7a99;
	color: #FFF;
}

.expand {
	width: 100%;
}

.center {
	text-align: center;
}

.top-margin {
	margin-top: 50px;
}

.notice {
	background-color: #DFF1D7;
	padding: 15px;
	border: 1px solid #3d793b;
	border-radius: 5px;
	font-size: 11px;
	color: #3d793b;
	margin-top: 0px;
}

.alert {
	background-color: #FCF9E2;
	padding: 15px;
	border: 1px solid #8a6e37;
	border-radius: 5px;
	font-size: 11px;
	color: #8a6e37;
	margin-top: 0px;
}

#logo {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	color: #FFF;
	position: relative;
}

#tagline {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #CCC;
	position: relative;
	margin-top: -15px;
}

.detecting-location {
    color: #a072b6;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 40px;
}

#devise-links {
	margin-top: 20px;
}

#no-meetup {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FFF;
	position: relative;
	margin-top: 40px;
}

.photo {
	width: 80px;
	height: 80px;
	border-radius: 40px;
    border: 2px solid #FFF;
}

.profile {
/*    width: 90%;
*/}

#profile-details {
    width: 100%;
    margin-bottom: 20px;
}
#photo-container {
    width: 100px;
    /*height: 100px;*/
    float: left;
}
#profile-info-container {
    /*margin-left: 60px;*/
    height: 80px;
    /*padding-left: 30px;*/
    width: 100%;
}

#profile-info-container > #name {
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}

#profile-info-container > #location {
    color: #AAA;
    font-size: 12px;
    font-weight: normal;
    padding-right: 20px;
    margin: 0;
}

.container-edit {
    width: 100%;
    margin: 0;
    padding: 20px;
    color: #fff;  
}

#true_patch {
    margin-left: 0;
}

#bio {
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

#private-message {

}

#interests-field {
    margin-bottom: 40px;
}

.interest-cloud {
    list-style-type: none;
    margin: -15px 0px 50px 0px;
    padding: 0;
}

.interest {
    line-height: 70px;
    margin-right: 10px;
    display: inline;

}

.popular-interest {
    background-color: #CCC;
}

.green {
    background-color: #519a4f;
}

.green:hover {
    background-color: #3f7f3d;
}

select {
    height: 50px;
    -webkit-appearance: menulist-button;
    font-size: 20px;
}

/*Chat styling*/
.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
    /*border:10px solid white;*/
    z-index: 100;
    top: 0;
    right:0;
    width: 100%;
}
 
.chatboxhead {
    background: rgba(20%,20%,20%,1);
    color: white;
    padding: 0.5rem;
    overflow: hidden;
 
    /*border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);*/
}
 
.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}
 
.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}
 
.chatboxcontent {
    font-family: arial, sans-serif;
    height: 500px;
    /*width: 266px;*/
    overflow-y: auto;
    padding: 7px;
    /*border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;*/
    background: white;
    /*line-height: 1.3em;*/
    list-style: none;
}
 
.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    /*display: flex;*/
    border-bottom:1px solid rgba(93%,93%,93%,1);
}
 
.chatboxcontent .avatar {
    top: 4px;
    /*width: 66px;*/
    position: relative;
    display:inline-block;
}
 
.chatboxcontent .avatar img {
    display: block;
    /*width: 100%;*/
    width:63px;
    border-radius:100px;
    /*margin-left: 10px;*/
    margin-left: 10px;
    display: inline-block;
}
 
.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    /*border: 5px solid white;*/
    border-left-color: transparent;
    border-bottom-color: transparent;
}

/*
.self {
    justify-content: flex-end;
    align-items: flex-end;
}
 
.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}
 
.self .avatar {
    order: 2;
}
 
.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}*/
 
.chatboxmessagecontent {
    background: white;
    padding: 25px 10px 10px 10px;
    /*border-radius: 0 2px 2px 2px;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    /*width:100%;*/
    display:inline-block;
    vertical-align:23px;
}
 
.chatboxmessagecontent p {
    font-size: 15px;
    margin: 0 0 1.2rem 0;
    -ms-word-break: break-all;
 
    /* Non standard for webkit */
    word-break: break-word;
 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.time-div{
    display:inline-block;
    float: right;
    position: relative;
    top: 31px;
}

.time-div time {
    padding-right:30px;
    vertical-align: 24px;
    font-size: 10px;
    color:rgba(93%,93%,93%,1);
}
 
.chatboxinput {
    /*padding: 13px 13px 10px 13px;*/
    margin-top: 5px;
    margin-bottom: -500px;
    background-color: #333333;
    /*border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;*/
}
 
.chatboxtextarea {
    font-size: 14px;
    /*width: 245px;*/
    height: 32px;
    padding: 11px 0pt 0px 16px;
    border: 1px solid #eeeeee;
    /*margin: 1px;*/
    width: 100%;
    overflow: hidden;
    resize: none !important;
}
 
.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}
 
.chatboxmessage {
    margin-left: 1em;
}
 
.chatboxinfo {
    margin-left: -1em;
    color: #666666;
 
}
 
.chatboxoptions {
    float: right;
}
 
.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
 
.chatboxtitle {
    text-align: center;
    /*float: left;*/
}
/*end of chat styling*/
