<header>
		<% if user_signed_in? %>
			<span class="main-menu fa fa-list-ul"></span>
			<% if params[:controller] == 'events' %>
				<div class='page-title'><%= @chat.category %> (<%=@chat.users.count%>)</div>
				<% else %>
				arf
			<% end %>
		<% end %>
</header>