<ul id="navigation">
	<li><a href="#">Home</a></li>
	<li><a href="#">Users</a></li>
	<li><%= image_tag @user.photo, class: 'menu-photo' %><%= link_to 'View Profile', user_path %></li>
	<li><%= link_to 'Account Settings', edit_user_registration_path %></li>
	<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
</ul>